/*
 * UI-COMPONENTS
 */

input[type="text"] {
  font-family: @defaultFont;
  font-size: 17px;
  border: 2px solid #bdc3c7;
  padding: 8px 5px;
  text-indent: 4px;
}
input[type="text"]:focus {
  border-color: @primaryColor;
}

button {
  font-family: @defaultFont;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 400;
  border: none;
  background: #f0f0f0;
  padding: 8px 14px;
}
button:hover,
button:focus {
  background: #e0e0e0;
}
