/*
 * Homepage search box
 */

@searchWidth: 300px;
@searchHeight: 150px;
@searchLogoColor: @primaryColor;
@searchLogoSize: 72px;

.search {
  width: @searchWidth;
  height: @searchHeight;
  text-align: center;

  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -@searchHeight * 0.5;
  margin-left: -@searchWidth * 0.5;
}
.search .logo {
  font-family: @accentFont;
  font-size: @searchLogoSize;
  margin: -70px 0 10px;
  color: @searchLogoColor;
}
.search #search-text {
  width: 100%;
  display: block;
}

button {
  font-family: @accentFont;
  font-size: 15px;
  font-weight: 700;
  border: none;
  background: #f0f0f0;
}
button:hover,
button:focus {
  background: @accentColor;
}
