@text-color: #000;
@text-size: 14px;

.download .row {
  margin-bottom: 1.5em;
}

#preview-frame {
  border: 1px solid #000;
  overflow: auto;
  height: 20em;
  .transition(height .3s ease-in-out); // Animate changes in height
}
@media (min-height: 600px) {
  #preview-frame {
    height: 260px;
  }
}
@media (min-height: 600px) {
  #preview-frame {
    height: 360px;
  }
}
@media (min-height: 710px) {
  #preview-frame {
    height: 500px;
  }
}

// Table

#table {
  margin-bottom: 0;
}
#table,
#table:focus {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
          outline-style: none;
}
#table td {
  white-space: nowrap;
  border: 1px solid #999;
  padding: .3em .8em;
  color: @text-color;
  background-color: #fcfcfc;
  font-family: 'Times New Roman', Times, serif;
  font-size: @text-size;
  cursor: default;
}
#table thead td, // Table headers
#table td:first-child {
  font-weight: bold;
  background-color: #ccc;
}
#table td:first-child { // Line number column
  text-align: center;
}
#table tbody td:not(:first-child):hover { // Table entry hover
  background-color: #eee;
}

// Text output

#text {
  display: none;
  width: 100%;
  word-wrap: normal;
  white-space: pre;
  background: none;
  border: none;
  color: @text-color;
  font-size: @text-size;
}

.download .input-group {
  width: 100%;
}

.download .input-group-btn {
  width: 50%;
}
