//
// DETAILS PAGE
// --------------------------------------------------

.record table {
  font-size: floor(@font-size-base * 1.15);
  font-weight: 200;
  margin-bottom: 10px;
}
.record table .description {
  font-weight: bold;
  width: 40%;
}

// Reference this page panel

.panel-reference .reference-text .url {
  word-break: break-all; // Split long URLs onto multiple lines
}
.panel-reference .reference-style {
  margin: -.5em -.85em -.5em 0; // Don't let panel title height bloat
}
.panel-reference .reference-dropdown {
  margin: .5em -.85em 0 0; // Keep aligned with dropdown button
}
