//
// RESULTS PAGE
// --------------------------------------------------

.sresults table tbody tr:hover {
  cursor: pointer;
}

.sresults table tbody td {
  font-size: floor(@font-size-base * 1.15);
  font-weight: 200;
}
