//
// RESULTS PAGE
// --------------------------------------------------

.sresults table {
  table-layout: fixed;
}
.sresults table tbody tr:hover {
  cursor: pointer;
}

.sresults table td {
  font-size: floor(@font-size-base * 1.15);
  font-weight: 200;

  // Ellipsise overflow:
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

// Table widths
.sresults table td.Source {
  width: 25%;
}
.sresults table td.Location {
  width: 20%;
}
.sresults table td.pI {
  text-align: center;
  width: 6%;
}

.sresults table thead td {
  font-weight: bold;
}
