//
// SEARCH
// --------------------------------------------------

.search {
  max-width: 640px;
}

.search img {
  width: 100%;
}

.search .btn {
  min-width: 100px;
}

.search-block {
  margin: 0 auto 30px auto;
  padding: 0 20px; // Breathing room for small displays
}

.navbar-search {
  padding-left: 0; // No padding on the inline searchbar
  padding-right: 0;
  float: left;
}
@media (max-width: 900px) {
  .navbar-search {
    width: 70%;
  }
}

#q {
  .border-left-radius(@border-radius-base); // Force left rounded edges
}

.ui-front {
  z-index: 9999 !important; // Keep autocomplete suggestions on top of navbar
}
