<!-- Fixed navbar -->
<div class="navbar navbar-fixed-top

{% if _navbar.login_only %}
  navbar-invisible
{% else %}
  navbar-default
{% endif %}
">

  <div class="container">

    <div class="navbar-header">

      <!-- Collapse button -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- The logo -->
      <a class="navbar-brand" href="{{ _links.index }}">pip-db</a>

    </div> <!-- /.navbar-header -->

    <div class="navbar-collapse collapse">

      {% if _navbar.search %}
      <div class="col-sm-7 col-md-7 navbar-search">

        <form action="{{ _links.search }}" class="navbar-form" role="search">
          <div class="input-group">

            <!-- Search bar -->
            <input id="q" name="q" type="text" class="form-control"
                   value="{{ _navbar.search_text }}">

            <!-- Search button -->
            <div class="input-group-btn">
              <button type="submit" class="btn btn-success">
                Search
              </button>
            </div>
          </div>
        </form>

      </div> <!-- /.navbar-search -->

      <!-- Advanced button -->
      <ul class="nav navbar-nav">
        <li>
          <div class="navbar-button-group">
            <div class="navbar-button">
              <a href="{{ _links.advanced }}" class="btn btn-primary">
                Advanced
              </a>
            </div>
          </div>
        </li>
      </ul> <!-- /.navnar-nav -->
      {% endif %} <!-- /if _navbar.search -->

      <ul class="nav navbar-nav navbar-right">
        {% if session is defined %}

        <!-- User button -->
        <li class="dropdown">
          <a id="themes" class="dropdown-toggle" data-toggle="dropdown"
             href="#">
            {{ session.user }} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="themes">
            <li><a tabindex="-1" href="{{ _links.admin.setup }}">Run initial setup</a></li>
            <li><a tabindex="-1" href="{{ _links.upload }}">Upload new data</a></li>
            <li><a tabindex="-1" href="#">Preferences</a></li>
            <li class="divider"></li>
            <li><a tabindex="-1" href="{{ _links.logout }}">Log out</a></li>
          </ul>
        </li>

        {% else %}

        <!-- Login button -->
        <li><a href="{{ _links.login }}">Login</a></li>

        {% endif %}
      </ul> <!-- /.navbar-right -->

    </div><!--/.nav-collapse -->

  </div> <!-- /.container -->

</div> <!-- /.navbar -->
