<!DOCTYPE html>
<html lang="en">

  {% set _links = {
       "admin": {
         "setup": "/admin/setup"
       },
       "advanced": "/advanced",
       "results": "/s",
       "index": "/home",
       "login": "/login",
       "logout": "/logout",
       "search": "/s",
       "record": "/r",
       "upload": "/upload"
     }
  %}

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>pip-db {{ _page.title }}</title>
    <meta name="description" content="{{ _page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css"/>

    {% block header %}{% endblock %}
  </head>

  <body>

    <!-- Content wrapper -->
    <div id="wrap">

      {% if not _navbar.hidden %}
        {% include "_navbar.html" %}
      {% endif %}

      <!-- Container -->
      <div class="container">

        {% if _title is defined %}
          {% include "_title.html" %}
        {% endif %}

        {% block content %}{% endblock %}

      </div> <!-- /.container -->
    </div> <!-- /.wrap -->

    {% if not _footer.hidden %}
      {% include "_footer.html" %}
    {% endif %}

    <script src="//code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>

    {% block footer %}{% endblock %}

  </body>
</html>
