<!doctype html>
<html lang="en">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>pip-db {{ page.title }}</title>

    <link rel="stylesheet" href="css/styles.css"/>

    {% block header %}{% endblock %}
  </head>

  <body>

    <!-- Content wrapper -->
    <div id="wrap">

      {% include "navbar.html" %}

      <!-- Container -->
      <div class="container">

        {% if title is defined %}
          {% include "_title.html" %}
        {% endif %}

        {% block content %}{% endblock %}

      </div> <!-- /.container -->
    </div> <!-- /.wrap -->

    {% include "footer.html" %}

    <script src="//code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>

    {% block footer %}{% endblock %}

  </body>
</html>
