<div class="page-title">

  {% if _title.download is defined %}
    <!-- Download results -->
    <div class="download">
      <button class="btn btn-warning">Download</button>
    </div>
  {% endif %}

  {% if _title.heading is defined %}

    <h3>{{ _title.heading }}</h3>

  {% elseif _title.results is defined %}

    <div class="info">

      <!-- Number of search results -->
      Found {{ _title.results }}
      {% if _title.results > 1 %}
        results...
      {% else %}
        result...
      {% endif %}

    </div>

  {% endif %}

  <hr>
</div> <!-- /.page-title -->
