{% extends "_page.html" %}

{% set _page = {
     "title": "Admin Panel"
   }
%}

{% set _navbar = {
     "search": false
   }
%}

{% set _title = {
     "heading": "Admin Panel"
   }
%}

{% block content %}

<div class="row">

  <div class="col-md-8">

    <table class="table table-striped table-bordered">

      <!-- Table body -->
      <tbody>
        {% for key, value in build_status %}
        <tr>
          <td>{{ key }}</td>
          <td>{{ value }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

  <div class="col-md-4">

    <a href="{{ _links.html.admin.theme }}" class="btn btn-primary btn-lg btn-block">See the theme demo</a>
    <a href="{{ _links.html.admin.setup }}" class="btn btn-danger btn-lg btn-block">Run the setup script</a>
    <a href="{{ _links.html.admin.sanity }}" class="btn btn-success btn-lg btn-block">See the sanity check</a>

  </div>

</div>

{% endblock %}
