{# THE DETAILS PAGE.

schema for content args:

names => An array of names, with the first element being the primary name, and
         other elements after this being alternative names.

#}

{% extends "_page.html" %}

{% set _page = {
     "title": names[0]
   }
%}

{% set _navbar = {
     "search": true,
     "search_text": "Alkaline"
   }
%}

{% set _title = {
     "heading": _page.title,
     "download": true
   }
%}

{% block content %}

<div id="details">

  <div class="row">
    <div class="col-md-8">
      <table class="table table-striped table-bordered">

        <!-- Table body -->
        <tbody>

          {% for name in names %}
            <tr>

              {% if loop.first %}
                <td>Name:</td>
              {% else %}
                <td>Alternative name:</td>
              {% endif %}

              <td>{{ name }}</td>
            </tr>
          {% endfor %}

          <tr> <!-- Detail -->
            <td>Enzyme Commission number:</td>
            <td>3.2.1.52</td>
          </tr>

          <tr> <!-- Detail -->
            <td>Source:</td>
            <td>Human</td>
          </tr>

          <tr> <!-- Detail -->
            <td>Location:</td>
            <td>Placenta</td>
          </tr>

          <tr> <!-- Detail -->
            <td>pI:</td>
            <td>4.6</td>
          </tr>

          <tr> <!-- Detail -->
            <td>Molecular weight:</td>
            <td>116000 - 116000</td>
          </tr>

          <tr> <!-- Detail -->
            <td>Sub unit no:</td>
            <td>2</td>
          </tr>

          <tr> <!-- Detail -->
            <td>Sub unit MW:</td>
            <td>58000</td>
          </tr>

          <tr> <!-- Detail -->
            <td>Number of Iso Enzymes:</td>
            <td>Many</td>
          </tr>

          <tr> <!-- Detail -->
            <td>Valid sequences available:</td>
            <td>Yes</td>
          </tr>

          <tr> <!-- Detail -->
            <td>Method:</td>
            <td>Isoelectric focusing</td>
          </tr>

          <tr> <!-- Detail -->
            <td>Temperature:</td>
            <td>22 C</td>
          </tr>

        </tbody>
      </table>

    </div> <!-- /.col-md-8 -->

    <div class="col-md-4">

      <!-- External links section -->
      <div class="panel panel-default panel-extern">
        <div class="panel-heading">
          <h3 class="panel-title">External Links</h3>
        </div>

        <div class="panel-body">
          <ul class="panel-link-list">
            <li>
              <a class="btn btn-info btn-block">
                Full Text
              </a>
            </li>
            <li>
              <a class="btn btn-info btn-block">
                PubMed
              </a>
            </li>
            <li>
              <a class="btn btn-info btn-block">
                Species Taxonomy
              </a>
            </li>
            <li>
              <a class="btn btn-info btn-block">
                Protein Sequence
              </a>
            </li>
          </ul>
        </div>
      </div> <!-- /.panel -->

      <!-- Reference text section -->
      <div class="panel panel-primary panel-reference">
        <div class="panel-heading">
          <h3 class="panel-title">Reference this page</h3>
        </div>

        <div class="panel-body">
          <blockquote>pip-db. (2012)
            <i>Protein Isoelectric Point Database</i>, Alkaline
            phosphatese. Available from:
            &lt;http://www.pip-db.com/r?id=12023&gt;. [Cited 10 July
            2013].
          </blockquote>
        </div>
      </div> <!-- /.panel -->

    </div> <!-- /.col-md-4 -->

  </div> <!-- /.row -->

  <div class="row">
    <div class="col-md-12">
      <!-- Record metadata -->
      <div class="meta-holder">
        <ul class="meta">
          <li>Added on March 10th 2012.</li>
          <li>Last edited 6 hours ago.</li>
        </ul>
      </div>
    </div> <!-- /.col-md-12 -->
  </div> <!-- /.row -->

</div> <!-- /#details -->

{% endblock %}
