{% extends "_page.html" %}

{% set _navbar = { "hidden": true } %}

{% block content %}

<div class="row">
  <div class="col-lg-12 text-center">
    <div class="jumbotron errortron">

      <h1>{{ error.code }} :(</h1>

      <p>
        {{ error.message }}
      </p>

      <p>
        <a href="{{ _links.html.index }}" class="btn btn-danger btn-lg" role="button">
          I want to complain!
        </a>
        <a href="{{ _links.html.index }}" class="btn btn-success btn-lg" role="button">
          Just take me home
        </a>
      </p>

    </div> <!-- /.jumbotron -->
  </div> <!-- /.col-md-6 -->
</div> <!-- /.row -->

{% endblock %}
