{% extends "_page.html" %}

{% set _navbar = {
     "login_only": true
   }
%}

{% block content %}

<div class="row">
  <div class="search col-md-8 col-md-offset-2 text-center">

    <h1 class="logo">pip-db</h1>

    <!-- Search form -->
    <form method="GET" action="{{ _links.html.search }}">

      <div id="qp">
        <table cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td>
                <input id="q" name="q" type="text" autocomplete="off">
              </td>
              <td id="h">
                <strong>?</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- buttons -->
      <div class="btn-row">

        <a id="search-browse" href="{{ _links.html.advanced }}" class="btn btn-primary">
          Advanced
        </a>

        <button id="search-submit" class="btn btn-success">
          Search
        </button>

      </div> <!-- /.button-row -->

    </form>

  </div> <!-- /.col-md-8 -->
</div>

{% endblock %}

{% block footer %}

  <script>
    $(function() {
      $('#q').focus();
    });

    $('#q').focus(function() {
      $('#qp').addClass('active');
    });

    $('#q').blur(function() {
      $('#qp').removeClass('active');
    });
  </script>

{% endblock %}
