<!doctype html>
<html lang="en">

  <head>
    {% include "header.html" %}
    {% block header %}{% endblock %}
  </head>

  <body>

    <!-- Content wrapper -->
    <div id="wrap">

      {% include "header-nav.html" %}

      <!-- Container -->
      <div class="container">

        {% if title is defined %}
          {% include "title.html" %}
        {% endif %}

        {% block content %}{% endblock %}

      </div> <!-- /.container -->
    </div> <!-- /.wrap -->

    {% include "footer.html" %}

    {% block footer %}{% endblock %}

  </body>
</html>
