{% extends "_page.html" %}

{% set _page = { "title": "Sign in" } %}
{% set _navbar = { "hidden": true } %}
{% set _footer = { "hidden": true } %}

{% block header %}
<style>
  body {
    background: #eee;
    padding-top: 40px;
    padding-bottom: 40px;
  }
</style>
{% endblock %}

{% block content %}
<form method="post" action="{{ referer }}" class="form-signin">
  <h2 class="form-signin-heading">Login</h2>
  <input name="user" type="text" autocomplete="off" class="form-control" placeholder="Email address" required autofocus>
  <input name="pass" type="password" class="form-control" placeholder="Password" required>
  <label class="checkbox">
    <input type="checkbox" value="remember-me"> Remember me
  </label>
  <div style="display: table; width: 100%;">
    <div style="display: table-cell; width: 50%; padding-right: 8px;">
      <button name="action" type="submit" value="register"
              class="btn btn-lg btn-primary btn-block">
        Register
      </button>
    </div>
    <div style="display: table-cell; width: 50%; padding-left: 8px;">
      <button name="action" type="submit" value="login"
              class="btn btn-lg btn-success btn-block">
        Sign in
      </button>
    </div>
  </div> <!-- /div -->
</form>
{% endblock %}
