//
// ADVANCED SEARCH FORM
// --------------------------------------------------

.advsearch-valign-text {
  display: table-cell;
  vertical-align: middle;
  height: 30px;
}

.advsearch form {
  font-size: @font-size-base;
}
.advsearch form .row {
  margin-bottom: 10px;
}
.advsearch form h4 {
  margin-top: 0;
}
.advsearch form label {
  .advsearch-valign-text;
  font-weight: normal;
}
.advsearch form .info {
  .advsearch-valign-text;
  font-size: @font-size-small;
  color: @text-mute-color;
}
.advsearch form input[type="text"] {
  width: 100%;
  height: 30px;
}
.advsearch form select {
  width: 100%;
  height: 30px;
}
.advsearch button.btn {
  /* Margin between footer and submit button: */
  margin-bottom: 20px;
}