//
// DETAILS PAGE
// --------------------------------------------------

div#details table {
  margin-bottom: 10px;
}
div#details h4 {
  color: #555;
}
div#details ul.extern {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
div#details ul.extern li {
  padding-bottom: 10px;
}
div#details ul.extern li button.btn {
  width: 100%;
}
/* Reference this page: */
div#details div.ref blockquote {
  margin-bottom: 5px;
}
/* Details Metadata: */
div#details ul.meta {
  list-style-type: none;
  padding-left: 0;
}
div#details ul.meta li {
  display: inline;
  font-size: @font-size-small;
  color: @text-mute-color;
}

// "Reference this page" blockquote
.panel-reference .panel-body > blockquote {
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
