//
// DETAILS PAGE
// --------------------------------------------------

.record table {
  margin-bottom: 10px;
}

/* Academic reference panel */
.ref blockquote {
  margin-bottom: 5px;
}

// "External links" section
.panel-extern .panel-body > .panel-extern-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
.panel-extern .panel-body > .panel-extern-list li {
  padding-bottom: 10px;
}
.panel-extern .panel-body > .panel-extern-list li:last-child {
  padding-bottom: 0;
}

// "Reference this page" blockquote
.panel-reference .panel-body > blockquote {
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
