//
// RESULTS PAGE
// --------------------------------------------------

div.sresults table thead {
  font-weight: bold;
  color: @text-warning-color;
}
div.sresults table tbody tr span.match {
  font-weight: bold;
}
div.sresults table tbody tr:hover {
  cursor: pointer;
}