//
// SEARCH
// --------------------------------------------------

.search .logo {
  font-family: @font-family-title;
  color: @brand-primary;
}

/* Homepage search */
  width: @search-width;
  height: @search-height;
.search {
  text-align: center;

  position: absolute;
  left: 50%;
  top: 50%;
  margin: (-@search-height * 0.6) 0 0 (-@search-width * 0.5);
}
.search .logo {
  font-size: @font-size-title;
  margin: -70px 0 50px;
}
.search #in {
  width: 100%;
  display: block;
  margin: 10px 0;
}
.search .btn {
  min-width: 116px;
}
.search .btn:first-child {
  margin-right: 8px;
}
.search .btn:last-child {
  margin-left: 8px;
}
