/*
 * Homepage search box
 */

@searchWidth: 300px;
@searchHeight: 150px;
@searchLogoColor: @primaryColor;
@searchLogoSize: 72px;

.search.full {
  width: @searchWidth;
  height: @searchHeight;
  text-align: center;

  position: absolute;
  left: 50%;
  top: 50%;
  margin: (-@searchHeight * 0.5) 0 0 (-@searchWidth * 0.5);
}
.search.inline {
  background: #e8e8e8;
  padding: 2px 20px 10px 20px;
}
.search .logo {
  font-family: @accentFont;
  color: @searchLogoColor;
}
.search.inline .logo {
  font-size: 30px;
  display: inline;
  margin-right: 20px;
}
.search.full .logo {
  font-size: @searchLogoSize;
  margin: -70px 0 20px;
}
.search.full #search-text {
  width: 100%;
  display: block;
  margin: 10px 0;
}
.search.inline #search-text {
  display: inline;
  padding: 3px;
}
.search.inline button {
  margin-top: -6px;
}

.advanced-search input {
  display: inline;
  width: 100%;
}
